*{
    box-sizing: border-box;
}
body, html{
    background-color: #1F253D;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2{
    color: white;
}

main{
    display: grid;
    height: 600px;
    width: 100%;
    margin: 0;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%;
    align-items: center;
}

h1{
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: start;
}

h2{
    display: flex;
    grid-row-start: 1;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}
h2:hover{
    color: gray;
    cursor: pointer;
}

.instructions{
    grid-column-start: 1;
}

.new-game{
    grid-column-start: 3;
}

.game-board{
    height: 300px;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    background-color: #394264;
}
